# Папка сборки
[Bb]in/
[Oo]bj/

# Папка с настройками Visual Studio
.vs/

# Файлы конфигурации пользователя Visual Studio
*.user
*.suo
*.vcxproj.user

# Папка автогенерируемой документации
doc/generated/

# Файлы конфигурации и кэша
*.tmp
*.log
*.cache

# Игнорировать пакеты NuGet
packages/
*.nupkg
# Исключить сборочные папки по конфигурациям
Debug/
Release/

# Исключить папки сборки
x64/
x86/
